# --- Root Global Configuration ---
NODE_ENV=development
DATABASE_URL=postgresql://user:password@localhost:5433/gadget-solution
DB_HOST=localhost
DB_PORT=5433
DB_USER=user
DB_PASSWORD=password
DB_NAME=gadget-solution
